.env
__pycache__/
*.pyc
.venv/
node_modules/
dist/
build/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.DS_Store
*.log
_startlog*.txt
backend/c1.json
backend/cf.json
backend/ms2.json
backend/r1.json
backend/rr.json
mlruns/
